@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-cabecalho {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
}
.area-cabecalho {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
  url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: center center;
  background-size: cover;
}

.navbar-area {
  background: rgb(0,69,135);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu {
  top: 2rem;
  right: 2rem;
  background-color: rgb(0,69,135);
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  z-index: 27;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1.1);
}
#menu.fa-times {
  transform: rotate(-180deg);
}
#navbar {
  position: fixed;
  top: 7rem;
  right: 2.2rem;
  border: 0.1rem solid rgb(0,69,135);
  padding: 0rem 0.1rem 0.1rem 0rem;
  border-radius: 1rem;
  z-index: 4;
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1.1);
  background-color: rgb(0,69,135);
}
#navbar.navbar-toggle {
  transform: scale(1);
  opacity: 1;
}
#navbar ul {
  display: block;
  padding: 0.5rem 7rem 0.5rem 1rem;
  text-decoration: none;
  color: rgb(0,69,135);
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
#navbar a:hover {
  color: rgb(0,69,135);
  background-color: white;
  transition: all 1s ease;
}
a {
  color: black;
  text-decoration: none;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  float: right;
  margin-left: 10px;
}
.logo-img{
  width: 50px;
  float: left;
  padding-top: 10px;
  margin-left: 10px;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}

.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* cabecalho mobile */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 10px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
}

.nav-telacheia {
  position: fixed;
  display: flex;
  z-index: 800;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* slider */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: rgb(82,123,255); 
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
  color: rgb(0,69,135);
  margin: 0;
  height: 100vh;
}
.search-box {
  position: absolute;
  top: 2%;
  left: 75%;
  background: white;
  height: 45px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.search-txt{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #222224;
  font-size: 15px;
  line-height: 40px;
  /* width: 0; */
  /* transition: .5s; */
}
::-webkit-input-placeholder{
  color: rgb(0,69,135);
}
.search-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  /* transition: .5s; */
}
/* .search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px; */
/* } */
/* .search-box:hover > .search-btn {
  background-color: rgb(2, 91, 173);
} */
.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-Titulo {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#alta {
  padding: 2rem 0 3rem 0 ;
}

@media (max-width:1440px) {
  #alta {
    padding: 7rem 0;
  }
}

#alta .alta-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #alta .alta-slider {
    height: 45rem;
  }
}

.alta-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .alta-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .alta-slide .alta-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.alta-slide .alta-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.alta-slide .alta-slide-conteudo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.alta-slide-conteudo .alta-slide-conteudo-baixo {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.alta-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alta-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .alta-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .alta-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .alta-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .alta-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.alta-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.alta-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: rgb(82,123,255);
}

.alta-slider-control .slider-arrow::after {
  content: '';
}

.alta-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.alta-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.alta-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


/* sobre-nós */
.imagem-sobre{
  height: 300px;
  width: 100%;
}
.about-us{
  background-color: rgb(0,69,135);
  color: #fff;
  font-size: 10px;
  text-align: justify;
}
.bem-vindo{
  color: white;
}

/* Links */
.imagem-link .primeira-img{
  width:100%;
  height: 200px;
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.imagem-link .segunda-img{
  width:100%;
  height: 200px;
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.imagem-link{
  display: flex;
  padding: 0;
}
.link-g .text-fai{
  width:100%;
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
  color: rgb(82,123,255);
  text-decoration: underline;
}
.text-link{
  display: flex;
  padding: 0;
}
/* regras */
.imagem-regras{
  width: 60%;
  float: left;
  margin-right: 20px;
  margin-left:20px;
  margin-top: 20px;
  text-align: center;
}
.regras{
  margin-top:30px;
  background: linear-gradient(rgb(0,69,135),rgb(82,123,255));
  width: 100%;
  font-size: 10px;
  text-align: justify;
  display: flex;
}
.text-regras{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  display: table-cell;
  color: white;
}

/* comentarios */
.funcionarios{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.funcionarios .swiper-wrapper{
  padding-top: 15px;
}
.funcionarios .slide{
  margin-bottom: 4rem;
  padding: 3rem;
  text-align: center;
}
.funcionarios .slide img{
  height: 20rem;
  width: 16rem;
}
.funcionarios .slide p{
  padding:1rem;
  line-height: 1;
  font-size: 1.6rem;
  color:rgb(82,123,255);
}
.funcionarios .slide h3{
  font-size: 2rem;
  margin-top: 1rem;
  text-transform: capitalize;
  color:rgb(82,123,255);
}

/* aluguel livros */
.como-alugar{
  display: table-cell;
  float: left;
}
.aluguel{
  margin-top: 1px;
  padding: 30px;
  background: linear-gradient(rgb(82,123,255),rgb(0,69,135));
  color: white;
  font-size: 12px;
  text-align: justify;
}
.text-aluguel{
  display: table-cell;
  padding-right: 20px;
  height: 100%;
  border-right: #CCCCCC solid 1px;
}
.text-impressao{
  padding-left: 2px;
}
.row-a{
  display: flex;
}
.titulo{
  color: white;
}

/* contate-nos */
#fcf-form {
  display: block;
  color: rgb(0,69,135);
}
#fcf-form-f {
  display:flex;
  text-align: left;
  color: rgb(82,123,255);
}
.esq {
  margin-right: 80px;
}
.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(82,123,255);
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}
/* rodapé */
.rodape{
  height: 100px;
  width: 100%;
  background-color: rgb(0,69,135); 
  color: white;
  font-size: 10px;
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape .container{
  height: 100%;
}
.algo{
  text-align: center;
}
.sc{
  padding-top: 3px;
  padding-bottom: 3px;
}

.textos-esquerda{
  height: 100%;
  border-right: #CCCCCC solid 1px;
}

.copy{
  text-align: center;
  font-size: 10px;
}


@media (max-width:1208px) {
  .rodape{
    height: 150px;
  }
}

@media (max-width:320px) {
  .rodape{
    height: 180px;
  }
}

@media (max-width:767px){
.textos-esquerda{
  border-right: none;
}
}

/* icones */
.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .phone:hover,
.wrapper .phone:hover .tooltip,
.wrapper .phone:hover .tooltip::before {
  background-color: #24d12d;
  color: #ffffff;
}

.icon{
  text-align: center;
}

.wrapper{
  text-align: center;
}

@media (max-width:767px){
  .textos-direita{
    padding-top: 10px;
  }

  .copy{
    padding-top: 100px;
  }
}